/* This is a copy of Info101 Activities / Intro to CSS / test.css */

body {
	background-image: url('dark_wood.png');
}

p {
	font-weight: bold;
	color: white;
	font-family: 'Arial';
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

div {
	text-align: center;
	border: solid 8px black;
	background-color: #8e41d5;
}

h3 {
	color: #ffbc00;
	font-size: 40px;
	font-family: 'Passion One';
	margin-bottom: 0px;
}

li {
	font-style: italic; /* new 1 */
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

#Header {
	width: 500px;
	border-radius: 20px; /* new 2 */
}

#Header h1 {
	font-size: 60px;
	font-family: 'Passion One';
	color: #ffbc00;
	font-weight: bold;
}

#LeftNav {
	width: 400px;
	float: left;
	padding-bottom: 8px;
	box-shadow: 5px 10px #888888; /* new 3 */
}

#Content {
	width: 700px;
	padding: 15px;
	border-bottom-color: red; /* new 4 */
}

#Footer {
	border-style: dotted; /* new 5 */
}

.main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
